{{=<% %>=}}
<%!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
%>
<%!
{{!
    @template plenumtype_second/mobile_edit_form

    This template will render the Plenary meeting second motion form

    Variables required for this template:
    * contextid - Plenary meeting context id

    Variables optional for this template:

    Example context (json):
    {
        "contextid": 3
    }
}}
%>
<ion-list>
    <ion-item>
        <ion-label text-wrap>
            {{ 'plugin.plenumtype_second.createmotion' | translate }}
        </ion-label>
    </ion-item>
    <%> mod_plenum/mobile_edit_warning %>
    <ion-item>
    <ion-button
        core-site-plugins-new-content
        component="mod_plenum"
        method="mobile_move"
        samePage="true"
        useOtherData
        [args]="{contextid: <% contextid %>, groupid: '<% groupid %>', type: 'second', submit: true}"
        [preSets]="{getFromCache: false, saveToCache: false, reusePending: false}"
    >
    <ion-label>
        {{ 'plugin.mod_plenum.move' | translate }}
    </ion-label>
    </ion-button>
    </ion-item>
</ion-list>
