{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template plenumform_jitsi/main

    This template will render the Plenary meeting Basic form main content

    Variables required for this template:
    * instance - Plenary meeting instance record
    * contextid - Module contextid
    * delay - Interval length

    Variables optional for this template:

    Example context (json):
    {
       "contextid": 3,
       "instance": {
           "name": "Meeting"
       },
       "delay": 3000
    }

}}
{{# instance }}
    {{< mod_plenum/main }}
        {{$ formcontent }}
            <button data-action="joinroom">{{# str }} joinroom, plenumform_jitsi {{/ str }}</button>
            <div id="meet" class="col col-12 text-center"></div>
        {{/ formcontent }}
    {{/ mod_plenum/main }}
{{/ instance }}
{{# js }}
    require([
        'plenumform_jitsi/media_manager'
    ], function(MediaManager) {
        new MediaManager({{ contextid }}, {{ delay }}, '{{ server }}', '{{ room }}', {displayName: '{{ fullname }}', email: '{{ email }}'}, '{{ jwt }}');
    });
{{/ js }}
