{{=<% %>=}}
<%!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
%>
<%!
{{!
    @template plenumtype_resolve/mobile

    This template will render the Plenary meeting main motion for mobile

    Variables required for this template:
    * contextid - Plenary meeting context id

    Variables optional for this template:

    Example context (json):
    {
        "attachments": [
            {
                "id": 33,
                "name": "Program.txt"
            }
        ],
        "contextid": 10,
        "previous": {
            "id": 72,
            "url": "https://example.com/mod/plenum/index.php?id=7",
            "name": "Open"
        },
        "resolution": "<p>That the program may be approved.</p>",
        "timecreated": 1715465315,
        "user": {
            "fullname": "Henry M. Robert"
        }
    }
}}
%>

<%< mod_plenum/mobile %>
    <%$ content %>
        <ion-item>
            <ion-label>
                <h5><%# str %> resolution, plenumtype_resolve <%/ str %></h5>
                <div><%{ resolution }%></div>
            </ion-label>
        </ion-item>
    <%/ content %>
<%/ mod_plenum/mobile %>
